ol, ul {
	list-style: none;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ------------------------------------------- */
body {
	background: linear-gradient(45deg, #FFDFD3, #D291BC);
	color: #4C0033;
	text-align: center;
	font-size: 100%;
	font-size: 1.1em;
}
hr {
	color: #bb599a;
	border-style: dotted none none none;
	margin: 2%;
	border-width: 5px;
	width: 5%;
}
img {
	width: 20%;
	height: 20%;
}
table {
	text-align: center;
}
table td {
		width: 25%;
}
div {
	background: linear-gradient(25deg, #D291BC, #FEC8D8);
	max-width: 75%;
	border-radius: 1rem;
	padding: 1rem;
	margin: 1rem;
}
